.parrafo-uno-servicio__titulo {
  color: black;
  text-align: left;
  flex-direction: row;
  margin: 15px;
}

.parrafo-uno-servicio__li {
  padding: 5px;
  list-style: none;
  font-size: x-large;
}

.parrafo-dos-servicio__titulo {
  margin: 10px;
  font-size: medium;
}

h2 {
  padding: 5px;
}

:root {
  --animate-delay: 2s;
}

.animate__animated {
  font-size: x-large;
}

li {
  list-style-type: none;
}

.container-background-empresa {
  width: 1920px;
  height: 900px;
  background-image: url(../imagenes/empresa-banner.jpg);
  text-align: center;
  font-size: x-large;
  font-family: "Oswald", sans-serif;
  color: oldlace;
}

.h2-footer {
  margin-bottom: 30px;
  color: blue;
  font-weight: 700;
  font-size: x-large;
}
