* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.homeContacto {
  color: black;
}

@media screen and (min-width: 800px) {
  body {
    background-color: lightblue;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: lightblue;
  }
}
@media screen and (min-width: 1600px) {
  body {
    background-color: white;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.cancelacion__p {
  font-size: x-large;
}
.cancelacion__boton {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  -webkit-tap-highlight-color: transparent;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 2.5rem;
  min-width: 120px;
  outline: 0;
  padding: 0 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  white-space: nowrap;
  background-color: brown;
}

.titulo-cards{
  text-align: center;
  font-size: x-large;
  font-family: "Oleo Script", cursive;
  font-family: "Rock Salt", cursive;
  color: blue;
}

.container-background{
width: 1920px;
height: 900px;
background-image: url(/imagenes/banner-index2.jpg);
text-align: center;
font-size: x-large;
font-family: "Oswald", sans-serif;
color:oldlace;

}
