.bodyform {
  background-image: url(/imagenes/puente.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0%;
}

.formulario {
  width: 650px;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  display: grid;
}

.formulario__titulo {
  color: white;
  text-align: center;
  margin: 0%;
  font-size: 30px;
  margin-bottom: 15px;
}

.formulario__input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
  max-width: 100%;
}

.formulario__textarea {
  width: 100%;
  margin: 0%;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 600px;
}

.formulario__boton {
  background: rgb(27, 70, 105);
  color: rgb(255, 255, 255);
  padding: 18px;
}
.formulario__boton:hover {
  cursor: pointer;
  background-color: rgb(211, 208, 177);
  transition: 0.5s;
}

.container-form{
  height: 800px;
}