.header {
  height: 80px;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.nav-link {
  color: rgba(255, 255, 255, 0.918);
  text-decoration: none;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 5px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #3e366b80;
  transition: 0.5s;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

.logo-nav {
  padding: 18px;
  font-size: x-large;
  font-family: "Oleo Script", cursive;
  font-family: "Rock Salt", cursive;
  color: blue;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  color: blue;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.918);
  margin-right: 150px;
}
