.container-background-ofertas{
    width: 1920px;
    height: 900px;
    background-image:url(/imagenes/banner-ofertas.jpg);
    text-align: center;
    font-size: x-large;
    font-family: "Oswald", sans-serif;
    color:oldlace;
    }