.container-background-ofertas {
  width: 1920px;
  height: 900px;
  background-image: url(../imagenes/banner-ofertas.jpg);
  text-align: center;
  font-size: x-large;
  font-family: "Oswald", sans-serif;
  color: oldlace;
}

.boton-ofertas {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.25;
  -webkit-tap-highlight-color: transparent;
  border: 1.5px solid;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 2rem;
  min-width: 120px;
  outline: 0;
  padding: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  white-space: nowrap;
  color: blueviolet;
}

.boton-ofertas {
  margin: 15px;
}

.boton-ofertas:hover {
  transition: 1s;
  color: rgba(255, 255, 255, 0.918);
  background-color: lightblue;
}

.card-text{
  font-family: "Oswald", sans-serif;
  padding: 3px;
  margin-top: 5px;
}