.container-background-servicio {
  height: 900px;
  background-image: url(../imagenes/servicio-banner.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: x-large;
  font-family: "Oswald", sans-serif;
  color: oldlace;
}

.h2-servicio {
  font-family: "Teko", sans-serif;
  font-size: 12mm;
  color: #20140c;
  text-align: center;
  margin-top: 20px;
}

.slide-s {
  width: 100vh;
  margin-top: 50px;
  margin-left: 500px;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}

.carousel-indicators img {
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  .slide-s {
    width: 100%;
  }
}
