.container-background-servicio {
  width: 1920px;
  height: 900px;
  background-image: url(../imagenes/servicio-banner.jpg);
  text-align: center;
  font-size: x-large;
  font-family: "Oswald", sans-serif;
  color: oldlace;
}

.h2-servicio {
  font-family: 'Teko', sans-serif;
  font-size: 12mm;
  color: #20140C;
  text-align: center;
  margin-top: 20px;
}

.slide-s {
  width: 100vh;
  margin-top: 50px;
  margin-left: 500px;
  margin-bottom: 50px;
}
