.container-background-servicio {
  width: 1920px;
  height: 900px;
  background-image: url(../imagenes/servicio-banner.jpg);
  text-align: center;
  font-size: x-large;
  font-family: "Oswald", sans-serif;
  color: oldlace;
}
